---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Javascript Assignment";

let now = new Date();
let hours = now.getHours();
let minutes = now.getMinutes();
let seconds = now.getSeconds();
let message = '';
if (hours < 6) {
  message = "Bro why are you awake so early?";
} else if (hours < 9) {
  message = "Good morning early bird!";
} else if (hours < 18) {
  message = "Good afternoon! Hope you're having a great day!";
} else if (hours < 22) {
  message = "Good night! Get some rest!";
} else {
  message = "GO TO BED!";
}

---

<Layout title={pageTitle}>
 <h1>Javascript Assignment</h1>
  <p>This is a sample assignment page for the Javascript assignment.</p>
  <div class="clock">
<h1 class="time"> Current Time: {hours}:{minutes}:{seconds}</h1>
  <p class="message">{message}</p>

  </div>
  
  <p
  
  <Layout>
<script>


</script>

<style>
  .clock {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30vw;
    border: 2px solid blue;
    padding: .5rem;
    border-radius:.5rem ;
    margin-top:1rem ;
  }
  .time {
    color: rgb(255, 255, 255);
    background-color: blue;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
    margin:0;
    text-align: center;
  }
  .message {
    font-size: 1.25rem;
    color: blue;
    font-weight: bold;
    width: fit-content;
    margin:0;
    text-align: center;

  }
</style>
